body {
  background-color: black;
  margin: 0;
}

.custom-navbar {
  background-color: black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.custom-nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-right: 50px;
}

.custom-nav-links .nav-link {
  color: white;
  text-decoration: none;
}

.custom-nav-links .nav-link:hover {
  text-decoration: underline;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  left: 45px;
  top: 13px; 
}

.body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.text-content {
  flex-grow: 1;
  color:white;
  position: absolute;
  top: 200px;
  left: 300px;
}

.text-content2 {
  flex-grow: 1;
  color:white;
  position: absolute;
  top: 200px;
  left: 300px;
}

.normal-text {
  font-size: 20px; 
  margin-right: 140px;
}

.larger-text {
  font-size: 30px; 
  color:aquamarine;
}

.intro {
  flex-grow: 1;
  color:white;
  position: absolute;
  top: 80px;
  left: 0px;
  text-align: left;
}

.clr {
  color:cadetblue;
  margin: 0;
 }

.image-content img {
  border-radius: 10%;
  position: absolute;
  top: 200px;
  left: 550px;
}

.image-content2 img {
  border-radius: 10%;
  position: absolute;
  top: 80px;
  left: 1050px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 20px;
}

.bar {
  background-color: white;
  margin: 3px 0;
}

.vertical-menu {
  overflow: hidden;
  flex-direction: column;
  background-color: black;
  position: absolute;
  top: 70px;
  left: 3px;
  padding: 0;
  border-right: 2px solid cadetblue;
  border-top: 2px solid cadetblue;
  transition: width 200ms ease;
}

.vertical-menu a {
  margin: 0 auto 16px;
  padding: 12px 24px;
  text-decoration: none;
  color: white;
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: center;
}

.graphic-design-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.graphic-design-content img {
  margin: 0 10px; 
}

.enlarge{
  margin: 0 200px;
}

.text2{
  font-family:cursive; 
  font-size: 30px; 
  color: white;
  margin-top: 20px;
}

.text {
  font-family:cursive; 
  font-size: 30px; 
  color: white;
  margin-top: 75px;
}

.vertical-menu a:hover{
  text-decoration: underline;
}

.about-content {
  font-family: cursive;
  font-size: 20px;
  color: white;
  text-align: justify;
  margin: 0 auto; 
  margin-top: 170px;
  border: 2px solid cadetblue;
  padding: 20px;
  position: relative;
}

.about-content img {
  position: absolute;
  bottom: 0;
  right: 0; 
  margin-bottom: -20px;
}

.contact-content {
  font-family: cursive;
  font-size: 20px;
  color: white;
  text-align: justify;
  margin: 0 auto; 
  margin-top: 170px;
  border: 2px solid cadetblue;
  padding: 20px;
  position: relative;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info img {
    vertical-align: middle;
    margin-right: 5px;
}

.flr {
    position: absolute;
    bottom: 0;
    right: 0; 
    margin-bottom: -20px;
}

.java-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.java-content .j, .java-content .k {
    margin-bottom: 20px; 
}

.c#-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.c#-content .c {
    margin-bottom: 20px;
}

.c#-content .d {
    margin-bottom: 20px;
}

/*LARGE SCREEN*/
@media only screen and (min-width: 600px)
{
  .custom-navbar {
    height: 70px;
  }
  
  .navbar-brand {
    width: 155px;
  }

  
  .image-content img {
    width: 230px;
  }
  
  .image-content2 img {
    width: 430px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
  }
  
  .vertical-menu {
    width: 0; 
    height: 88%;
  }

  .vertical-menu.vertical-menu.open {
    width: 230px;
  }
  
  .vertical-menu a {
    width: 80%;
  }
  
  .graphic-design-content img {
    max-width: 300px; 
  }
  
  .enlarge img {
    width: 550px; 
    height: auto;
  }
  
  .about-content {
    width: 900px;
  }
  
  .about-content img {
    max-width: 40px;
    height: auto;
  }
  
  .contact-content {
    width: 900px;
  }
  
  .contact-info img {
      max-width: 20px;
      height: auto;
  }
  
  .flr {
      max-width: 40px;
      height: auto;
  }
  
  .java-content .j, .java-content .k {
      max-width: 900px; 
  }
  
  .c#-content .c {
      max-width: 100px;
  }
  
  .c#-content .d {
      max-width: 10spx;
  }
}

/*SMALL SCREEN*/
@media only screen and (max-width: 600px) {
  .custom-navbar {
    height: 50px;
  }

  .navbar-brand {
    width: 120px;
    font-size: 20px;
  }

  .image-content img {
    width: 180px;
    top: 150px;
    left: 300px;
  }

  .image-content2 img {
    width: 350px;
    top: 50px;
    left: 650px;
  }

  .bar {
    width: 20px;
    height: 2px;
  }

  .vertical-menu {
    width: 0;
    height: 80%;
  }

  .vertical-menu.vertical-menu.open {
    width: 200px;
  }

  .vertical-menu a {
    width: 70%;
  }

  .graphic-design-content img {
    max-width: 250px;
  }

  .enlarge img {
    width: 450px;
  }

  .about-content,
  .contact-content {
    width: 80%;
    font-size: 16px;
    margin-top: 120px;
  }

  .about-content img,
  .contact-content img {
    max-width: 30px;
    bottom: -10px;
    right: -10px;
  }

  .contact-info img {
    max-width: 15px;
  }

  .flr {
    max-width: 30px;
    margin-bottom: -10px;
  }

  .java-content .j,
  .java-content .k {
    max-width: 800px;
  }

  .c#-content .c {
    max-width: 80px;
  }

  .c#-content .d {
    max-width: 8px;
  }
}
